<div style="margin-bottom: 30px;">
  <app-menu></app-menu>
</div>
<div class="flex-container">
  <span class="welcomeText">
    O restaurante "Sabor da Terra" é um verdadeiro oásis gastronômico que encanta todos os sentidos.
    Com uma atmosfera acolhedora e um toque de rusticidade, este estabelecimento é conhecido por proporcionar uma experiência culinária única aos seus clientes.
    O cardápio do "Sabor da Terra" é uma verdadeira jornada pela rica e diversificada culinária regional.
    Os pratos são inspirados na cozinha tradicional, com toques modernos e criativos para agradar até os paladares mais exigentes.
    Dos clássicos da região aos sabores internacionais. Os ingredientes utilizados são provenientes de produtores locais, o que garante a frescura dos alimentos e o apoio à comunidade.
    O menu é sazonal, permitindo que os clientes desfrutem de pratos preparados com os melhores produtos do momento.
    Para completar a experiência, o "Sabor da Terra" dispõe de uma sobremesa irresistível.
    Os doces e sobremesas são preparados com maestria, e cada mordida é uma verdadeira explosão de sabores que conquistam até os paladares mais exigentes.
    Se você está em busca de uma experiência gastronômica memorável, o "Sabor da Terra" é o lugar perfeito para uma refeição especial com amigos, familiares ou uma comemoração especial.
    Venha desfrutar do melhor que a cozinha regional pode oferecer, em um ambiente encantador que celebra a riqueza dos sabores da terra. Esperamos recebê-lo em breve para uma verdadeira jornada de prazeres culinários!
  </span>
  <img src="assets/images/restaurante.png"/>
</div>

